@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');
html{
    height: 100%;
}    
body{
    background-image: url('./assets/crew/background-crew-desktop.jpg');
    background-repeat: no-repeat;
    height: 900px;
    width: 1440px;
    background-position:center;
    background-size: cover;
    padding: 45px;
    /*font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Bellefair', serif;*/

}
.navBar{
    height: 96px;
    width: 1385px;
    display: flex;
}
.navBar img{
    height: 48px;
    aspect-ratio: 1;
}
.navBox{
    display:flex;
    background-color:#0B0D17;
    width: 830px;
    height: 96px;
}
.navBtn{
    font-size:16px;
    color:#D0D6F9;
    font-family: 'Barlow Condensed';
    letter-spacing: 2.7px;
    background: none;
    border: none;
    width: 70px;
    height: 19px;
}
.navBtn h6{
    color: white;
}
